<% layout("layouts/boilerplate") %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
      box-sizing: border-box;
    }

    .main-login {
      font-family: 'Roboto';
      margin: 25px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: #fff;
    }

    .container-login {
      color: white;
      background-color: #219ebc;
      padding: 20px 40px;
      border-radius: 5px;
      height: 60vh;
    }

    .container-login h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .container-login a {
      text-decoration: none;
      color: lightblue;
    }

    .container-login a:hover {
      color: blue;
    }

    .btn-login {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      background: lightblue;
      padding: 15px;
      font-family: inherit;
      font-size: 16px;
      border: 0;
      border-radius: 5px;
    }

    .btn-login:focus {
      outline: none;
    }

    .btn-login:active {
      transform: scale(0.98);
    }

    .register-login {
      margin-top: 30px;
    }

    .form-control-login {
      position: relative;
      margin: 20px 0 40px;
      width: 300px;
    }

    .form-control-login input {
      background-color: transparent;
      border: 0;
      border-bottom: 2px #fff solid;
      display: block;
      width: 100%;
      padding: 15px 0;
      font-size: 18px;
      color: #fff;
      position: relative;
      z-index: 100;
    }

    .form-control-login input:focus,
    .form-control-login input:valid {
      outline: 0;
      border-bottom-color: lightblue;
    }

    .form-control-login label {
      position: absolute;
      top: 15px;
      left: 0;
      pointer-events: none;
    }

    .form-control-login label span {
      display: inline-block;
      font-size: 18px;
      min-width: 5px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .form-control-login input:focus+label span,
    .form-control-login input:valid+label span {
      color: lightblue;
      transform: translateY(-30px);
    }

    .form-control-login input:-webkit-autofill {
      color: #fff !important;
      /* Adjust text color */
    }
  </style>
  <div class="main-login">
    <div class="container-login">
      <h1>Please Login</h1>
      <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="form-control-login">
          <input name="username" id="username" type="text" required />
          <label for="username">Username</label>
        </div>
        <div class="form-control-login">
          <input name="password" id="password" type="password" required />
          <label for="password">Password</label>
        </div>
        <button class="btn-login">Login</button>
      </form>

      <p class="register-login">Don't have an account? <a href="/signup">Register</a></p>

    </div>
  </div>

  <script>
    const labels = document.querySelectorAll('.form-control-login label');

    labels.forEach((label) => {
      label.innerHTML = label.innerText
        .split('')
        .map(
          (letter, idx) =>
            `<span style="transition-delay:${idx * 50}ms">${letter}</span>`
        )
        .join('');
    });

  </script>